{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Sweat shirts and sweat pants!!!</p>
                </div>
            </div>
        </header>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

        <div>
            <div class="container">
                <center>
                    <div class="col-md-6">
                        <p align="justify">
                                        We make the finest sweat shirts and sweat pants!

                        </p>
                    </div>
                </center>
             </div>
        </div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>



{% endblock %}
